/$(top_builddir)/
/autom4te.cache/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/bin/
/test/
/config.h
/config.h.in
/stamp-h1
/*.configure.ac.swp
/*.h.in~
/test-driver
/*.pro.user
