/$(top_builddir)/
/autom4te.cache/
/Makefile
/aclocal.m4
/config.log
/config.status
/depcomp
/bin/
/test/
/stamp-h1
/*.configure.ac.swp
/*~
/test-driver
/*.pro.user*
/doxygen-doc/
/.metadata/
/*.tar.gz
/config.h
config.h.in
configure
**/Makefile.in
Makefile.in
/*.log
/*.scan
/build-aux/
/*.layout
/nbproject/
/kat-*/
/libtool
/kat
/gcp/
/hist/
/comp/
/sect/
/plot/
/.deps/
/.libs/
*.hpp
*.Makefile.am.swp
*.pc
*.la
*.out
/tags
/.idea/
/cmake-build-debug/
/CMakeLists.txt
