/$(top_builddir)/
/autom4te.cache/
/Makefile
/aclocal.m4
/config.log
/config.status
/depcomp
/bin/
/test/
/stamp-h1
/*.configure.ac.swp
/*~
/test-driver
/*.pro.user*
/doxygen-doc/
/kat-0.2.1/
/.metadata/
/*.tar.gz
/kat-0.3.3/
/config.h
config.h.in
configure
**/Makefile.in
Makefile.in
/*.log
/*.scan
/kat-1.0.3/
/build-aux/
/kat-1.0.4/
/*.layout
/nbproject/
/kat-1.0.6/
