/temp/
/.deps/
/.libs/
/*.log
/*.o
/*.trs
/Makefile
/check_comp
/check_sect
*.dirstamp
/check_kat
/check_jellyfish

callgrind.out.*
/check_spectrahelper
/libgtest.la
/libgtest_main.la
/check_unit_tests
/compat.sh
